

/* Set default font family to 'Luckiest Guy' for all headings and body text */
body {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

/* Style the navigation bar */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}/* Import the 'Luckiest Guy' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Style the announcement box */
.announcement {
  background-color: #ffc107;
  color: #333;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* Style the iframe */
iframe {
  border-radius: 12px;
}

/* Style the button */
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

button:hover {
  background-color: #fff;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
}

#video-preview {
  width: 100%;
  height: auto;
}

button {
  margin: 10px;
}

.status-indicator_content__7XAr8 {
  width: 223px;
  height: 34px;
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 0 var(--geist-gap-half);
  border: 1px solid var(--accents-2);
  border-radius: var(--geist-radius);
  background-color: var(--geist-background);
  transition: background .2s;
  letter-spacing: -.01em;
}

.footer_social__TS_hG .footer_github__rmvAM {
  display: inline-block;
  width: 18px;
  height: 18px;
}
